body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }

  .mainPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 60vh;
    width: 100%;
    min-height: 350px;
  }

  .controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
  }

  .input-group input {
    padding: 5px;
    width: 200px;
  }

  .input-group button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  .generateButton{
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    margin-bottom: 10px;
  }

  .confirmButton{
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
  }

  .exclusionButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    overflow: scroll;
    padding-left: 10px;
    margin-top: 1%;
  }

  .excludeAllButton{
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
  }

  .numberButton{
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
  }

  .excluded {
    background-color: red;
    color: white;
  }

  .leftImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rightImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftImageContainer img, .rightImageContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }